<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 pt-3" *ngFor="let route of routes$">
    <mdb-card>
      <mdb-card-body>
    
        <!--Title-->
        <mdb-card-title> <h4>{{route.name}}</h4> </mdb-card-title>
    
        <!--Text-->
        <mdb-card-text> {{route.city}} </mdb-card-text>
        <mdb-card-text> {{route.phone}} </mdb-card-text>
    
        <a href="{{route.website}}" class="btn btn-primary waves-light" mdbWavesEffect>Website</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>