<!-- Start your project here-->
<div style="padding-bottom: 0; height: 100vh;background-color: #05a3b5">
  <div class="flex-center flex-column" style="background-image: url(../assets/images/background.png);background-size: cover;">
    <img src="../assets/images/logo.png" alt="" class="img-fluid mt-5 animaged lightSpeedIn">
    <a style="position:absolute; margin-top:300px;background: linear-gradient(-45deg, #FF5F6D, #ff7605)" href="#" class="btn btn-primary waves-light btn-lg" [routerLink]="['/main']" routerLinkActive="router-link-active"   mdbWavesEffect>Start</a>

  </div>
<!-- /Start your project here-->
